body{
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    flex-wrap: wrap;
    font-family: 'Gill Sans MT';
}
.box{
    height: 40vh;
    width: 30vw;
    background-color: darkcyan;
    color: rgb(15, 64, 84);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    box-shadow: 5px 5px 20px;
}

ul{
    list-style-type: none;
}